numpy>=1.26.4
opencv-python>=4.13.0.92
Pillow>=12.2.0
PyYAML>=6.0.2
scipy>=1.13.0
tensorboard>=2.17.0
tqdm>=4.67.1
imageio
plyfile
piq
dearpygui
lpips
pytorch_msssim
matplotlib
scikit-image
openmesh 
imageio-ffmpeg
git+https://github.com/Po-Hsun-Su/pytorch-ssim.git